.number-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.line {
    height: 0;
    border-top: 2px solid #000;
    flex-grow: 1;
}

.arrow-left,
.arrow-right {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

.arrow-left {
    border-right: 12px solid #000;
}

.arrow-right {
    border-left: 12px solid #000;
}